page-opciones-menu {
  .rowi {
    .tema-1 {
      text-align: center;
      button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
        background-color: #71cef5;
        border: #080808 1px solid;
        margin: auto;
      }
    }

    .tema-2 {
      text-align: center;
      button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
        background-color: #be3b3b;
        border: #080808 1px solid;
        margin: auto;
      }
    }

    .tema-5 {
      text-align: center;
      button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
        background-color: #292929;
        border: #080808 1px solid;
        margin: auto;
      }
    }

    .tema-6 {
      text-align: center;
      button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
        background-color: #F07C1B;
        border: #080808 1px solid;
        margin: auto;
      }
    }

    .tema-3 {
      text-align: center;
      button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
        background-color: #3bb8be;
        border: #080808 1px solid;
        margin: auto;
      }
    }

    .tema-4 {
      text-align: center;
      button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
        background-color: #74be3b;
        border: #080808 1px solid;
        margin: auto;
      }
    }
  }
}
