/*Imports*/
@import "../assets/css/animations.scss";
//header sin background bottom
.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background-image: none;
}

//Evita mostrar errores y que el flujo de la app siga
#ion-diagnostics {
  display: none;
}

//Animaciones en tabs
.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected="true"] {
  color: #fff !important;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  border: 1px solid #62c1e8;
  border-bottom: 4px solid #32a1d0;
}
.tabs-md .tab-button:hover:not(.disable-hover),
.tabs-md .tab-button[aria-selected="true"] {
  color: #fff !important;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  border: 1px solid #62c1e8;
  border-bottom: 4px solid #32a1d0;
}

//Animacion refresher
.refresher-pulling-icon,
.refresher-refreshing-icon {
  text-align: center;
  transform-origin: center;
  font-size: 30px;
  color: map-get($colors, loader) !important;
  transition: 200ms;
}
